.contact {
    padding: 2em;
    background-color: rgb(25,25,25);
}

.contact-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.contact-bar {
    width: 150px;
    height: 5px;
}

.contact-title {
    text-align: center;
    color: var(--white);
    font-size: 40px;
}

.contact-maincontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2em;
}

.contact-box {
    display: flex;
    gap: 1em;
    align-items: center;
}

.contact-box > i {
    color: var(--white);
    font-size: 1.5em;
}

.contact-box > p {
    color: var(--white-darker);
    font-size: 1.5em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-self: center;
}

.contact-form > input, .contact-form > textarea {
    resize: none;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--violet);
    color: var(--white-darker);
    font-size: 15px;
    transition: background .5s;
}

.contact-form > input:focus, .contact-form > textarea:focus {
    background-color: rgb(30, 30, 30);
    border-radius: 10px 10px 0 0;
}

.contact-form > button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: var(--violet);
    color: var(--white);
    font-size: 15px;
    border-radius: 5px;
    transition: opacity .4s;
}

.contact-form > button:hover {
    opacity: 0.8;
    cursor: pointer;
}